## [판다스 데이터프레임DataFrame과 정규표현식Regular Expression의 절묘한 콜라보레이션]

In [14]:
##### ------------------ 본 한글주석 by 유형균 (이메일 문의 : quantgeni@gmail.com) ------------------ #####
# 그 마음 압니다. 정규표현식의 pressure!
# 하.지.만, 계속 다루다보면 쉬워집니다. 그때까지 달려보자구요!

import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
print(df)
df

# 자, 판다스 DataFrame을 이용해 깔끔한 table 형태로 만들어주시고요
# print로 찍어낸 데이터프레임 df와 그냥 df의 결과를 대조해봅시다

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [24]:
##### ------------------ 본 한글주석 by 유형균 (이메일 문의 : quantgeni@gmail.com) ------------------ #####

# find the number of characters for each string in df['text']
print(df['text'].str)
print('-----------------------------------------------------')
print(df['text'].str.len()) # 공백 포함 character 개수 (해당 열 내, 각 행 별)

<pandas.core.strings.StringMethods object at 0x7f3eb931a128>
-----------------------------------------------------
0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [32]:
##### ------------------ 본 한글주석 by 유형균 (이메일 문의 : quantgeni@gmail.com) ------------------ #####

# find the number of tokens for each string in df['text']
dfsplit = df['text'].str.split().str # 기본적으로 DataFrame의 특정 열 내 요소를 다룰 때는 .str을 붙이되, split() 시 해당 열의 각 행 단에서 실행됨
print(dfsplit)
print('-------------------------------------------------')
print(dfsplit.len()) # 단어 개수 (해당 열 내, 각 행 별)

<pandas.core.strings.StringMethods object at 0x7f3eb93095f8>
-------------------------------------------------
0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64
-------------------------------------------------

In [33]:
##### ------------------ 본 한글주석 by 유형균 (이메일 문의 : quantgeni@gmail.com) ------------------ #####

# find which entries contain the word 'appointment'
df['text'].str.contains('appointment') # 해당 열 내, 각 행 별

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [41]:
##### ------------------ 본 한글주석 by 유형균 (이메일 문의 : quantgeni@gmail.com) ------------------ #####

# find how many times a digit occurs in each string
print(df['text'].str.count(r'\d'))
print(df['text'].str.count('\d'))

# 위 아래 동일

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64
0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [45]:
##### ------------------ 본 한글주석 by 유형균 (이메일 문의 : quantgeni@gmail.com) ------------------ #####

print(df)
print()
# find all occurances of the digits
print(df['text'].str.findall(r'\d')) # hour, minute을 잘 뽑아왔쥬?
# 단, 0-9 digit 뽑아올 때 1개씩 뽑아옴에 유의 (해당 열 내 각 행 별)

# print(df['text'].str.search(r'\d')) # 이건 에러남

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [89]:
##### ------------------ 본 한글주석 by 유형균 (이메일 문의 : quantgeni@gmail.com) ------------------ #####

print(df)
print()

# group and find the hours and minutes
# 다양하게 연습해보기
print(df['text'].str.findall(r'(\d?\d):(\d)'))
print(df['text'].str.findall(r'(\d?\d):(\d?)'))
print(df['text'].str.findall(r'(\d+):(\d\d)'))
print(df['text'].str.findall(r'(\d*):(\d\d)'))
print(df['text'].str.findall(r'(\d?\d):(\d\d)'))
print(df['text'].str.findall(r'(\d?\d):(\d*)'))

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

0              [(2, 4)]
1             [(11, 3)]
2              [(7, 0)]
3             [(11, 1)]
4    [(08, 1), (09, 0)]
Name: text, dtype: object
0              [(2, 4)]
1             [(11, 3)]
2              [(7, 0)]
3             [(11, 1)]
4    [(08, 1), (09, 0)]
Name: text, dtype: object
0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object
0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object
0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object
0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [0]:
##### ------------------ 본 한글주석 by 유형균 (이메일 문의 : quantgeni@gmail.com) ------------------ #####

# replace weekdays with '???'
df['text'].str.replace(r'\w+day\b', '???')

In [86]:
##### ------------------ 본 한글주석 by 유형균 (이메일 문의 : quantgeni@gmail.com) ------------------ #####
# Monday -> Mon 바꾸기

print(df)
print()
# replace weekdays with 3 letter abbrevations
df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [88]:
##### ------------------ 본 한글주석 by 유형균 (이메일 문의 : quantgeni@gmail.com) ------------------ #####

print(df)
print()
# create new columns from first match of extracted groups
df['text'].str.extract(r'(\d?\d):(\d\d)')

# print(df['text'].str.findall(r'(\d?\d):(\d\d)')) # <- 기본적으로 좌측과 바로 위는, 나눠 가져온다는 점에서는 동일하지만, 리스트 내 tuple 형태냐 별도컬럼의 원소 형태냐의 차이
# 즉, extract()는 새로운 컬럼 생성한다는 점

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [90]:
##### ------------------ 본 한글주석 by 유형균 (이메일 문의 : quantgeni@gmail.com) ------------------ #####
print(df)
print()

# 어찌 가져오는지 확인해보자
# extract the entire time, the hours, the minutes, and the period
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [91]:
##### ------------------ 본 한글주석 by 유형균 (이메일 문의 : quantgeni@gmail.com) ------------------ #####

# extract the entire time, the hours, the minutes, and the period with group names
# 컬럼명 붙이기
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am